<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-centered col-no-pad">
    <div class="max card">
      <div class="row">
        <div class="col-sm-5 col-no-pad">
          <img class="max" src="assets/images/chris.jpg" alt="Chris Witman">
        </div>
        <div class="col-sm-7 col-no-pad">
          <div class="about">
            <p class="about-header">Chris Witman</p>
            <p class="about-body">
              Bio ...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>