<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 col-centered col-no-pad">
    <!--<% for i in 1..50 do %>-->
      <div class="card">
        <header>
          <div class="card-header">
            <p class="file">
              <!--<%= i.to_s + ".jpg" %>-->
              </p>
          </div>
        </header>
        <!--<%= image_tag("gallery/" + i.to_s + ".jpg", :alt => "painting", class: "max") %>-->
        <div class="comments">0 Likes &nbsp;&nbsp;&nbsp; 0 Comments</div>
      </div>
    <!--<% end %>-->
  </div>
</div>
