<div class="container-fluid">
  <br><br>
  <div class="row">
    <div class="col-md-3 col-no-pad"></div>
    <div class="col-md-6 col-no-pad">
      <div class="jumbotron">
        <h1>Custom Paintings</h1>
        <p>Artist rendition of your favorite photos</p>
        <br><br>
        <p>
          <a href="#" class="btn btn-warning btn-lg">Learn More</a>
          <a href="#" class="btn btn-primary btn-lg btn-jumbotron">View Portfolio</a>
        </p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
      </div>
    </div>
    <div class="col-md-3 col-no-pad"></div>
  </div>
</div>
